
# ignore office temp files 
~$*

# ignore data folder
**/Data

# don't keep pycache files
**/__pycache__/

# don't keep ipynb checkpoints 
**/.ipynb_checkpoints/

# don't keep pyc files 
*.pyc

